{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href = "{% static 'styles.css' %}">
  {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> {% endcomment %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>MULTIMEDIA</title>
</head>
<body>

  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand navbar-text mx-auto">
      <h1><img src="{% static 'icons/camera.png' %}" width="30" height="30" class="d-inline-block align-top" alt=""> Multimedia</h1>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/members"><h3 class="navbar-text">Home</h3></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/members/videos"><h3 class="navbar-text">Videos</h3></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/members/info"><h3 class="navbar-text">Notice</h3></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{%static '/InSaight/INSAIGHT ISSUE-45 (NOVEMBER 2K22 Diwali Edition).pdf'%}" target="_blank"><h3 class="navbar-text">InSaight</h3></a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <h3 class="navbar-text">Events</h3>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% for i in list %}
              <a href='/members/images/{{i.eventName}}' class="dropdown-item"><p class="dropdown-para">{{i.eventName}}</p></a>
            {% endfor %}
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <marquee><b>**IMPORTANT ANNOUNCEMENT**</b>: This website will be live only till <b>19/12/2022</b></marquee>
  <marquee>Due to technical issues bandwidth is very limited, download speed is bound to be slow. Sorry for the inconvenience.        <b>Pro Tip:</b> If you want everyone to get better speed, download videos only at night!</marquee>   
  <div class="container gallery-container">
    <h1>2022 Odd Semester</h1>
  <div class="t-gallery">
    {% for i in list %}
        <div class="responsive">
            <div class="gallery">
                <a class='lightbox' href='images/{{i.eventName}}'>
                    <img src="{% static i.thumbnail%}" alt="Cinque Terre" width="900" height="600">
                    <p align='center' style="text-decoration: none;" class="pretty-text">{{i.eventName}}</p>
                </a>
            </div>
        </div>
    {% endfor %}
  </div>
</div>
<script src="{% static 'script.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.t-gallery');
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
</script>
<script>
  var menuHolder = document.getElementById('menuHolder')
  var siteBrand = document.getElementById('siteBrand')
  function menuToggle(){
    if(menuHolder.className === "drawMenu") menuHolder.className = ""
    else menuHolder.className = "drawMenu"
  }
  if(window.innerWidth < 426) siteBrand.innerHTML = "MAS"
  window.onresize = function(){
    if(window.innerWidth < 420) siteBrand.innerHTML = "MAS"
    else siteBrand.innerHTML = "MULTIMEDIA"
  }
</script>
<footer>
  <p align="center">Brought to you by <b>MultiMedia</b></p>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
